.range-selector {
    position:  relative;
    padding: 10px 5px;
}
.range-selector__main-part {
    display: inline-block;
}
.range-selector__cents-part {
    display: inline-block;
}
.range-selector__cents-part:before {
    content: ',';
    display: inline-block;
}
.range-selector__cents-part:after {
    content: '€';
    display: inline-block;
}
